exportPattern("^[[:alpha:]]+")
importFrom(utils, install.packages)
import(DBI)
import(DT)
import(R6)
import(RSQLite)
import(knitr)
import(lintr)
import(lubridate)
import(mailR)
import(openxlsx)
import(optparse)
import(renv)
import(rmarkdown)
import(rprojroot)
import(shiny)
import(shinyFiles)
import(styler)
import(testthat)
import(logger)